<mat-card>
    <mat-card-title>Alterar Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="product.name" required name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [(ngModel)]="product.price" name="price" (ngModelChange)="calculateDiscountPrice()">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Descrição" [(ngModel)]="product.description" maxlength="500" name="description">
        </mat-form-field>
        <mat-form-field>
            <!--
                Foi removida no Angular 5 a validação de min e max nativa (HTML) para tipo number em input.
                Por este motivo, recomenda-se utilização de FormControl
            -->
            <input matInput placeholder="Desconto (%)" name="discount" type="number" [formControl]="discountControl" (blur)="calculateDiscountPrice()">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço com desconto (R$)" [ngModel]="product.discountPrice | number: '.2-2'" name="discountPrice" disabled>
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="checkAndUpdate()" color="primary">
        Atualizar
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>